@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* border: solid; */
}
.container{
    max-width: 1600px;    
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: roboto;
    box-shadow: 0px 10px 14px -7px #505050;    
}

/* Start Header Part with navigatio menu */

.header{
    display: flex;
    flex-direction: row;
    /* border: solid blue;     */
    background-color: #636c79;
    padding: 2em;    
    /* flex-wrap: wrap; */
    align-items: center;
}

.logo {
 flex: 10%
}

.menu-items{
    flex: 20%;
    display: flex;
    list-style: none;
    color: #ffff;
    /* justify-content: space-around;     */
    column-gap: 2em;
    float: right;
    /* align-content: center; */
    align-items: center;        
    justify-content: center;
}
.menu-icon{
    display: none;
}

.header-button{  
    flex: 10%;
    float: right;
    /* position: relative;   */
    /* left: 50px; */
    width: 12em;
    height: 3em;
    border: 1px #f8f9f9 solid;   
    background-color: transparent; 
    color: #fff;    
}
/* END Header Part with navigatio menu */

/* START introduction top part */
.introduction{
    /* display: grid;    
    grid-template-columns: 1fr 1fr;
    padding-top: 25px;
    padding-left: 40px;    
    height: 800px; */
    display: flex;
    flex-direction: row;
    background-color: #636c79;
    column-gap: 4em;
    /* max-width: 1600px; */
}

.desc{    
    display: flex;
    flex-direction: column;
}
.desc > *{
    flex-basis: 100%;
}
.intro-image{
    /* width: 35em;     */
    width: 75%;
    height: 40em;
    padding: 5em;
    object-fit: cover;
}
.introduction-image{
    margin: auto;
}
.desc h1{
    position: relative;
    top: 3em;
    color: #ffff;
    font-family: Raleway;
    font-size: 4em;
    margin-bottom: 3.5em;
}

.desc h4{
    color: #c6c9ce;
    font-family: Roboto;
    line-height: 30px;
    margin-bottom: 2em;    
    font-size: 1.5em;
}

.email-box-container{
    display: flex;
    background-color: #fff;
    /* padding-left: 5em; */
    align-items: center;
    justify-content: left;
    row-gap: 3em;
    width: 39em;
}

#email{
    border: 1px #f8f9f9 solid;   
    /* border: solid rebeccapurple; */
}

.email-box{
    /* border: solid rebeccapurple; */
    text-align: left;    
}
.email-box-container>i{
    margin-left: 10px;    
}
#email{
    height: 4em;
    border: 6px solid #ffff;
    width: 30em;    
    padding-left: 1em;    
}

#submit{
    /* position: absolute; */
    /* left: -4px; */
    height: 4em;
    /* margin-left: none; */
    width: 9em;
    border: 6px solid #ffff;
    background-color: #8bb7a2;
    color: #ffff;
}

/* STOP introduction top part */

/* <!-- START Of Stats Company Numbers section   --> */

.company-details{
    display: flex;
    flex-direction: column;
    /* max-width: 70vw; */
}

.stats{
    display: flex;
    flex-direction: row;
    column-gap: 3em;
    margin: auto;
    list-style: none;
    text-align: center;
    font-size: 2em;
}
.company-details-image{
    /* max-width: 80em; */
    width: 75%;
    margin: auto;
    padding: 4em;
}

.number{
    font-size: 4vw;
    font-weight: 700;    
    margin-bottom: 1em;   
}

.company-details-heading{
    text-align: center;
    margin-top: 3em;
    font-family: raleway;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 2em;
}

/* <!-- END Of Company Numbers section   --> */


/* <!-- Start Of Company Feature cards --> */
.company-features{
    display: flex;
    flex-direction: column;
}

.company-featues-heading{
    text-align: center;
    font-family: raleway;
    margin-top: 130px;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 70px;
}

.company-feature-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: solid; */
    width: 1200px;
    margin: auto;
    margin-bottom: 70px;
    justify-content: space-between;
}

.card-image{
    width: 600px;
    height: 600px;
    object-position: top;
    object-fit: cover;
}

.feature-card-heading, .heading-text{
    font-family: raleway;
    font-weight: 800;
    margin-bottom: 25px;    
}

.text-part{
    /* border: red solid; */
    height: 300px;
    width: 500px;
    margin: auto;
}

.feature-card-desc, .team-desc{
    font-family: roboto;
    font-weight: 400;
    color: #a4a5a6;
    line-height: 2;
    margin-bottom: 40px;
}

.Lets-talk{
    width: 150px;
    height: 50px;
    color: #ffff;
    background-color: #8bb7a2;
    font-size: 15px;
    font-weight: 700;

}

/* <!-- End Of Company Feature cards --> */

/* <!-- Start Of Company Team section --> */
.company-team-heading{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    /* border: solid; */
    margin-top: 8em;
    margin-bottom: 1em;
    margin-left: 15%;
    margin-right: 15%;
}

.company-team-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    justify-items: center;
}

.company-team-card-img{
    width: 400px;
    /* height: 800px; */
    object-fit: cover;
    margin-bottom: 20px;
}

.name{
    font-family: raleway;
    font-size: 20px;
    margin-bottom: 20px;    
}

.name-desc{
    color: #a4a5a6;
    text-indent: 1.8;
    font-family: roboto;
    font-weight: 400;
}

.lets-talk-company-team{
    margin-top: 2em;
    text-align: center;
}

/* <!-- END Of Company Team section --> */

/* <!-- START Footer Section  --> */

.logo-section{
    /* border: solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr; 
    background-color: #10181d;    
    margin-top: 80px;
    /* padding-top: 50px;
    padding-left: 7%;
    padding-right: 80px;
    padding-bottom: 30px;   */
    padding: 3em;
    border-bottom: #c6c9ce 2px solid;
}

/* .line{
    display: grid;
    background-color: #10181d;
    grid-template-columns: 80px 1440px 80px;
    max-width: 1600px;   
} */

.middle{
    border-bottom: 2px #505050 solid;  
}

.social-media{
    margin-left: 45%;
}

.footer-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: #10181d;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 80px;    
}

.footer-link{
    color: #ffff;
}

.products{
    list-style: none;
    line-height: 35px;
    color: #a4a5a6;
}

.footer-link-head{
    /* margin-left: 14%; */
    margin-bottom: 10px;

}

@media (max-width: 768px) {
    .menu-icon{
        display: contents;
        font-size: 40px;
        color: #ffff;
    }
    .logo > img{
        width: 25vw;
    }
    .header-button{
        display: none;
    }
    .introduction{        
        flex-direction: column;
        padding-bottom: 2em;
    }
    .desc-heading-text, .email-box{
        /* border: solid; */
        margin: auto;
        text-align: center;
    }
    .desc h1{
        top: 0em;
        margin-bottom: 1em;
        font-size: 10vw;
    }
    .stats{
        column-gap: 1em;
        padding-left: 0px;
    }
    .company-team-card-img{
        width: 80vw;
        align-self: center;
    }
    .company-feature-card{
        display: flex;
        flex-direction: column;
        width: auto;        
    }
    .company-feature-card > *{
        text-align: center;
    }
    .company-feature-card:nth-child(2){
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        /* border: solid; */
    }

    .company-team-cards{
        grid-template-columns: 1fr;
    }
    .logo-section{
        grid-template-columns: 1fr;        
        padding: none;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;

    }
    .social-media{
        margin-left: 0;        
        margin-top: 1em;
        width: 70vw;
    }
    .footer-links{
        grid-template-columns: 1fr 1fr;  
        padding: 0;      
    }
    .footer-link{
        padding: 2em;
    }
    .stats{
        font-size: 3vw;
        margin-bottom: 5vw;
    }

    .card-image{
        width: 75%;
    }
    .menu-items{
        display: none;
    }
    .email-box{
        width: auto;
    }
    .text-part{
        width: auto;

    }
    .intro-image{
        width: 65vw;
        height: 60vw;
        padding: 5vw;
    }
    #email{
        width: 50vw;
    }
    .desc h4{
        font-size: 4vw;

    }
    .company-details-image{
        padding: 3vw;
    }
    .company-details-heading{
        margin-top: 25vw;
        margin-bottom: 15vw;
    }
    .company-team > .Lets-talk{
        
        margin-left: 30vw;
    }
    .company-team-card{        
        text-align: center;
    }
    .company-team-card-img{
        margin-top: 2em;
    }
    .company-team-heading{
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 6em;
    }

}
/* .team-button{
    height: 100px;
    border: solid;
    justify-content: space-between;
    justify-items: center;
}
.team-btn{
    width: 150px;
    height: 50px;
    color: #ffff;
    background-color: #8bb7a2;
    font-size: 15px;
    font-weight: 700;
} */
/* TEst Code below */

/* #submit, #email{
    width: 200px;
    height: 25px;
    background-color: gray;
}

.number{
    font-size: 40px;
} */
